# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
*.log

# Virtual env
venv/
.env/
.venv/

# Django
*.sqlite3
db.sqlite3
staticfiles/
media/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env/config secrets
*.env
.env.*
